@theme-dark-bg-color : black;
@theme-dark-content-color: #33322f;
@theme-dark-input-color: darkgray;
@theme-dark-label-color: lightgray;
@theme-dark-tr-hover-color: #57646d;
@theme-dark-post-reply-bg-color: #232320;
@theme-dark-post-reply-footer-bg-color: #54534e;
@theme-dark-element-border-color: #5e5d57;
@theme-dark-content-darker-color: @theme-dark-post-reply-bg-color;

body.theme-dark {
    background: @theme-dark-bg-color;

    div.panel.panel-default, div.panel-heading, div.panel-tab-heading {
        background: @theme-dark-content-color;
        span {
            color: @theme-dark-label-color;
        }
        select.form-control {
            background: @theme-dark-input-color;
        }
    }

    div.panel-default {
        border-color: @theme-dark-element-border-color;
        div.event-widget-header, div.birthday-module-header {
            background-color: @theme-dark-content-color;
        }
    }

    div.event-widget p, div.birthday-module {
        color: @theme-dark-label-color;
    }

    div.panel-heading, div.birthday-module-header, div.event-widget-header {
        border-bottom-color: @theme-dark-bg-color;
    }

    div.panel-body form.form-horizontal table.nc-table.nc-table-active {
        background-color: @theme-dark-content-color;
        color: @theme-dark-label-color;
        tr:hover {
            background-color: @theme-dark-tr-hover-color;
        }
    }

    .sidebar-overlay-container {
        a:not(.active), span.ng-scope {
            color: @theme-dark-label-color;
        }
    }

    nav.navbar  {
        ul.nav ul.dropdown-menu {
            background-color: @theme-dark-content-color;
            border-color: @theme-dark-element-border-color;
            li a {
                color: @theme-dark-label-color;
                &:hover {
                    background-color: @theme-dark-tr-hover-color;
                }
            }
        }
        li#user-nav-btn.open a.dropdown-toggle {
            background: @theme-dark-content-color;
            color: @theme-dark-label-color;
        }
        li#administration-nav-btn.open a.dropdown-toggle {
            background: @theme-dark-content-color;
            color: @theme-dark-label-color;
            span {
                filter: invert(94%) sepia(100%) saturate(24%) hue-rotate(53deg) brightness(105%) contrast(105%);;
            }
        }
        div.popover-inner {
            background-color: @theme-dark-bg-color;
        }
        a.notifications-settings-link {
            filter: invert(94%) sepia(100%) saturate(24%) hue-rotate(53deg) brightness(105%) contrast(105%);
        }
    }

    div.wall-body div.panel.panel-body {
        background-color: @theme-dark-content-color;
        border-color: @theme-dark-element-border-color;
        div.panel-footer-comment {
            background-color: @theme-dark-post-reply-footer-bg-color;
            border-color: @theme-dark-element-border-color;
        }
        div.like-button-selections {
            background-color: @theme-dark-content-color;
        }
        p {
            color: @theme-dark-label-color;
        }
        div.emoji-picker-container {
            border-color: @theme-dark-element-border-color;
        }
        div.post-container {
            background-color: @theme-dark-post-reply-bg-color;
            border-top-color: @theme-dark-element-border-color;
            textarea {
                background-color: @theme-dark-content-color;
                border-color: @theme-dark-element-border-color;
                color: @theme-dark-label-color;
            }
            div.comment-container::after {
                border-bottom-color: @theme-dark-element-border-color;
                border-top-color: @theme-dark-element-border-color;
            }
        }
    }

    div#wall-post-create {
        textarea {
            background-color: @theme-dark-content-color;
            border-color: @theme-dark-element-border-color;
            color: @theme-dark-label-color;
        }
        div.panel-footer-post {
            background-color: @theme-dark-content-color;
            border-color: @theme-dark-element-border-color;
        }
    }

    div.alert {
        background-color: @theme-dark-content-color;
        border-color: @theme-dark-element-border-color;
    }

    div.event-list-item-inner-container, div.event-options {
        background-color: @theme-dark-content-color;
        border-color: @theme-dark-element-border-color;
        div.modal-header, div.modal-footer {
            background-color: @theme-dark-content-darker-color;
            border-color: @theme-dark-element-border-color;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }

    input, 
    input:disabled, 
    textarea {
        background-color: @theme-dark-input-color;
        &::placeholder {
            color: grey;
        }
    }

    h3, 
    p:not(.customization-option-title), 
    button.close, 
    span:not(.glyphicon),
    label,
    h2 {
        color: @theme-dark-label-color;
    }

    a.customization-option:hover {
        background-color: @theme-dark-tr-hover-color;
    }

    div.panel-form-body {
        color: @theme-dark-label-color;
    }
}